<h1>Display your Pirate here</h1>
<p>Pirate Name: <%= @pirate_results.name %></p>
<p>Pirate Weight: <%= @pirate_results.weight %></p>
<p>Pirate Height: <%= @pirate_results.height %></p>

<h2>Display your first ship here</h2>
<p>Ship Name: <%= @ship_results_1.name %></p>
<p>Ship Type: <%= @ship_results_1.type %></p>
<p>Ship Booty: <%= @ship_results_1.booty %></p>

<h2>Display your second ship here</h2>
<p>Ship Name: <%= @ship_results_2.name %></p>
<p>Ship Type: <%= @ship_results_2.type %></p>
<p>Ship Booty: <%= @ship_results_2.booty %></p>
